@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  box-sizing: border-box; /* Ensure padding and borders are included in element's total width and height */
}

body {
  font-family: 'Inter', sans-serif; /* Set the font to Inter */
  margin: 0;
  padding: 0;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-out-right {
  animation: slide-out-right 0.2s forwards;
}


.slide-in-right {
  animation: slide-in-right 0.2s forwards;
}


.animate-fade-in-up {
  animation: fadeInUp 1s ease-out;
}

@keyframes textReveal {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.text-reveal {
  display: inline-block;
  animation: textReveal 1.5s ease-out forwards;
  transform: translateY(100%);
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #22292e;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes popup {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-popup {
  animation: popup 0.3s ease-out;
}


::-webkit-scrollbar{
  display: none;
}